CMC_KEY="your https://pro.coinmarketcap.com/ api key"
CMC_URL="https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest"
PORT="Any free port to work on"
SERVER_URL="your ngrok url"
TOKEN="telegram bot token"
MONGO_CONN_STRING="your connection string"
MONGO_DB_NAME="your db name"
COLLECTION_NAME="your collection name"